/*

---00 WHITESPACE SYSTEM / ATOM

    - Spaging system (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---01 TYPOGRAPHY SYSTEM / ATOM

    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    -Font Family: IBM Flex Mono

    - Font weights
      Default: 300

    - Font line heights:
      Deffault: 1.4

   
---02 COLORS SYSTEM  /ATOM

    - Primary color: 
    - tints (darks): 
    - shades (lights): 
    - Greys: #333
    - Accents: 

---03 IMAGES SYSTEM / ATOM
    https://unsplash.com/es/s/fotos/FOOD
    https://www.uifaces.co/
    https://heroicons.com/


---04 SHADOWS

---05 BORDER RADIUS
    general: 5px



*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&family=Rubik+Marker+Hatch&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #333;
}

.card {
  background-color: #dbdbdb;
  width: 450px;
  margin: 64px auto;
  border: 3px solid black;
  
}

.avatar {
  width: 100%;
}

.data {
  padding: 32px;
}

.intro {
  margin-bottom: 16px;
}

h1 {
  margin-bottom: 12px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.skill {
  border-radius: 5px;
  background-color: rgb(194, 110, 14);
  padding: 2px 12px;
  font-weight: 500;
  display: flex;
  gap: 8px;
}